<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cinestation{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <div id="header">
                {% block header %}
                    {% set user = app.security.getToken().getUser() %}
                    {% if user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div id="user-block">
                            <a href="{{ path('fos_user_profile_edit') }}" title="">
                                <img src="{{ asset('images/icons/account.png') }}" alt=""/>
                                {{ user.getUsername() }}
                            </a>
                            <a href="{{ path('fos_user_security_logout')}}" title="">
                                <img src="{{ asset('images/icons/disconnect.png') }}" alt=""/>
                                Se déconnecter
                            </a>
                        </div>
                    {% else %}
                        <div id="user-block">
                            <a href="{{ path('fos_user_security_login')}}" title="">
                                Se connecter
                            </a>
                        </div>
                    {% endif %}
                    <a id="site-name" href="#">
                        Ciné' Station
                    </a>
                {% endblock %}
               {% block menu %}
                    {% set user = app.security.getToken().getUser() %}
                    {% if user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% set menu = knp_menu_get('CineCmsBundle:MenuBuilder:createMenu', [], {'idMenu': menu_principal} ) %}
                        {{ knp_menu_render(menu, {'template': 'CineCmsBundle:Menu:knp_menu.html.twig', 'depth' : 3 }) }}
                    {% endif %}
                {% endblock %}
                </div>
                <div id="content">
                    {% block body %}{% endblock %}
                </div>
                <div id="footer">
                </div>
            </div>
        </div>
        {% block javascripts %}
        {% javascripts '../app/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            <script src="{{ asset("bootstrap-3.3.2/dist/js/bootstrap.min.js") }}"></script>
        {% endblock %}
    </body>
</html>
